*{
    box-sizing: border-box;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}
#container{
    width: 94%;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    height: 100vh;
}
#header{
    /* height: 100px; */
    padding: 10px 0px;
    display: flex;
    flex-wrap: wrap;
}
#logo{
    float: left;
    flex: 50%;
}
#logo h1 a{
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    color: #e51e1e;
}
#searchbox{
    /* float: right; */
    flex: 30%;
    /* background-color: #0080ff; */
    background: linear-gradient(#e4f2b9, #0080ff);
    /* width: 300px;
    height: 50px; */
    padding: 20px;
    border: 1px white solid;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text{
    float: left;
    width: 220px;
    padding: 3px;
    font-size: 15px;
    color: #514141;
    font-weight: bold;
    border: 1px solid #fff;
    border-radius: 5px;
    background: #fff url(../image/search.png) no-repeat right center;
}
.submit{
    margin-left: 10px;
    float: right;
    padding: 5px;
    font-weight: bold;
    color: white;
    background-color: #514141;
    border: 1px #fff solid;
    border-radius: 5px;
}
#menu{
    /* height: 48px; */
    /* background-color: #0080ff; */
    background: linear-gradient(#292727, #0080ff);
    padding: 15px 0px;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center;
    align-items: center; */
}
#menu a{
    padding: 0px 62px;
    height: 20px;
    text-decoration: none;
    color: antiquewhite;
    line-height: 20px;
    text-transform: capitalize;
    border-right: 1px solid antiquewhite;
    font-size: 18px;
}
/* small screen setting  */
@media screen and (max-width:700px){
    #menu{
        flex-direction: column;
        align-items: center;
    }
    #menu a{
        border-right: none;
    }
}

#menu a:last-child{
    border-right:none;
}
#menu a.log{
    color: #ec3535;
}
#menu a:hover, #menu a.active{
    font-size: 19px;
    color:#ec3535;
    font-weight: bold;
}
#intro{
    /* background-color: #89bbed; */
    background: linear-gradient(#e4f2b9, #0080ff);
    padding: 20px;
    margin: 15px 0px;
}
#intro h3{
    font-size: 30px;
    color: #000022;
}
#intro p{
    font-size: 18px;
    text-align: justify;
    color: #1d1839;
}
.sidebars{
    display: flex;
    flex-wrap: wrap;
}
.sidebar{
    /* height: 500px;
    width: 510px; */
    height: 100%;
    width: 100%;
    border: 2px solid #0080ff;
    border-radius: 20px;
    padding: 10px 20px;
    /* flex: 50%; */
}
.sidebar h3{
    color: #514141;
    font-size: 30px;
}
.sidebar ul{
    padding-top: 8px;
}
.sidebar ul li a{
    text-decoration: none;
    color:#1d1839
    font-size: 16px;
}
.sidebar ul li a:hover{
    color:#0080ff;
    font-size: 17px;
    font-weight: bold;
}
#leftsidebar ul li{
    padding: 5px 0px 5px 10px;
    list-style-image: url(../image/checkbox.png);
}
#rightsidebar ul li{
    padding: 15px 0px 15px 20px;
    list-style-image: url(../image/background.png);
}

/* #leftsidebar{
    float: left;
}
#rightsidebar{
    float: right;
} */
.sidebarwrapper{
    padding: 5px;
    flex: 50%;
}
.clear{
    clear:both;
}
#footer{
    /* height: 50px; */
    background: linear-gradient(#292727, #0080ff);
    background-color: #0080ff;
    padding: 6px 10px;
    margin-top: 6px;
}
#footer p{
    text-align: center;
    color:white;
}
.card{
    width: 100%;
    border: 1px solid transparent;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
}
.card .carhead{
    background-color: #0080ff;
    padding: 10px;
}
.card .carhead h3{
    text-align: center;
    color: white;
}